{% layout 'layout.liquid'%}
{% block content %}
   
<div id='aboutus' style="width: 18rem;"">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<div class="cardgroup">
    <div class="row"  >
        <div class="card aboutcard" style="width: 18rem;">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHpTL0O8S48zw/profile-displayphoto-shrink_800_800/0/1652666811836?e=1680739200&v=beta&t=PWRx_OeUWfaLSH7pHYvpljujeJd1CXFEqSg9mWVEb08" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rita H Chauhan</h5>
                <p class="card-text">CEO and C0-founder</p>
                <a href="#" class="btn btn-primary">Contact Us</a>

            </div>
        </div>

        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTruYNKCRc2Yn6qFHnDq0N0MkhcU20zZLDhAA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hameer Chauhan</h5>
                <p class="card-text">Director</p>
                <a href="#" class="btn btn-primary">Contact Us</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://pps.whatsapp.net/v/t61.24694-24/312243894_1132757520717442_2053258742807540518_n.jpg?ccb=11-4&oh=01_AdQM0EH81yK94dI3sejpyJJs-6Z0MqhJ8RYDRMw_uZk8Nw&oe=63E65CE0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rajat Kumar</h5>
                <p class="card-text">Director</p>
                <a href="#" class="btn btn-primary">Contact Us</a>
            </div>
        </div>

    </div>
</div>






{%- comment -%} <h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4D03AQHpTL0O8S48zw/profile-displayphoto-shrink_800_800/0/1652666811836?e=1680739200&v=beta&t=PWRx_OeUWfaLSH7pHYvpljujeJd1CXFEqSg9mWVEb08" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Rita H Chauhan</h2>
        <p class="title">CEO & Founder</p>
        <p>Full Stack developer, specializing in Java Script and Python. Also, co-founder at qqq payments</p>
        <p>rita@indifood.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTruYNKCRc2Yn6qFHnDq0N0MkhcU20zZLDhAA&usqp=CAU" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Hameer Chauhan</h2>
        <p class="title">Business Developer</p>
        <p>Having 10 years of experience in consulting and a co-founder of consulting.com</p>
        <p>hameer@indifood.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://pps.whatsapp.net/v/t61.24694-24/312243894_1132757520717442_2053258742807540518_n.jpg?ccb=11-4&oh=01_AdQM0EH81yK94dI3sejpyJJs-6Z0MqhJ8RYDRMw_uZk8Nw&oe=63E65CE0" alt="John" style="width:100%">
      <div class="container">
        <h2>Rajat Kumar</h2>
        <p class="title">Data Analyst</p>
        <p>An experienced data analyst with 10 years of experience and a co-founder of backenddata.com</p>
        <p>rajat@indifood.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> {%- endcomment -%} 



{% endblock %}