{% layout 'layout.liquid'%}
{% block content %}
   

<h2>ABOUT US</h2>
<p>Launched in 2023, Our technology platform connects customers with our delicious food, provided at feasible prices within 30 min at your door step!
<br>
<br>
Availability: Our app is available in 800+ cities in the U.S. and Canada, including Atlanta, Seattle, Boston, New York, and Chicago, among others.</p>

<div class="cardgroup me-3">
    <div class="row me-3"  >
      <div class="card me-3" style="width: 18rem;">
        <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQHpTL0O8S48zw/profile-displayphoto-shrink_800_800/0/1652666811836?e=1680739200&v=beta&t=PWRx_OeUWfaLSH7pHYvpljujeJd1CXFEqSg9mWVEb08" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rita H Chauhan</h5>
          <p class="card-text">CEO and C0-founder</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>

      <div class="card me-3 " style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTruYNKCRc2Yn6qFHnDq0N0MkhcU20zZLDhAA&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hameer Chauhan</h5>
          <p class="card-text">Director</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pps.whatsapp.net/v/t61.24694-24/312243894_1132757520717442_2053258742807540518_n.jpg?ccb=11-4&oh=01_AdQM0EH81yK94dI3sejpyJJs-6Z0MqhJ8RYDRMw_uZk8Nw&oe=63E65CE0" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rajat Kumar</h5>
          <p class="card-text">Director</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>

    </div>
</div>



{% endblock %}