{% layout 'layout.liquid' %}
{% block content %}
<h1>This is Cart view</h1>

<div class="container-md">
    <article>
        <h2>{{menu.img}}</h2>
        <h2>{{menu.price}}</h2>
    </article>
</div>
{% endblock %}