{% layout 'layout.liquid' %}
{% block content %}
  <h1>This is Cart view</h1>

  <div class="container-md">
    <article>
      <h2>
        Present Cart
      </h2>

      <form action="/cart/show/{{cart.id}}" method="GET">
        <input type="submit" class="btn btn-danger" value="CART">
      </form>

        <h2>
            Cart History
        </h2>

      <a href="/cart/checkout"><button type="button" class="btn btn-primary">Order History</button></a>
      
  
    </article>
  </div>
{% endblock %}