{% layout 'layout.liquid'%}
{% block content %}

<main>
  <div class=" card bg-white text-dark">
    <img class="card-img" id='homeHeading' src="https://t4.ftcdn.net/jpg/00/92/79/57/240_F_92795795_1gG69m9STYv2I4pjUYlRqnWdJ4Ca21ot.jpg">
    <div class="card-img-overlay">
      <h1 class="card-title" id="home-title">INDI EATS</h1>
    </div>
  </div> 
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href=""><img id='location' src="https://www.dummies.com/wp-content/uploads/324172.image0.jpg" alt=""></a><br> 
      </div>
      <div class="col-sm">
        <a href="/menu/aboutus" class="contactus">Contact us</a><br>
        <a href="https://www.google.com/maps/place/444+Warren+St,+Jersey+City,+NJ+07302/@40.7236031,-74.040453,17z/data=!4m13!1m7!3m6!1s0x89c250acefa6e773:0x3fdbeb1711feef06!2s444+Warren+St,+Jersey+City,+NJ+07302!3b1!8m2!3d40.7235991!4d-74.0378781!3m4!1s0x89c250acefa6e773:0x3fdbeb1711feef06!8m2!3d40.7235991!4d-74.0378781"><img id='facebook' src="https://cdn-icons-png.flaticon.com/128/535/535188.png" alt=""></a>  
    </div>
    <div class="col-sm">
      <a href="https://www.linkedin.com/in/rita-h-chauhan-393664212/?originalSubdomain=in"><img id='linkedin' src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-256.png" alt=""></a>
      <a href="https://github.com/RitaHC"><img id='github' src="https://cdn-icons-png.flaticon.com/128/179/179323.png" alt=""></a>
      <a href="https://www.instagram.com/rita.h.chauhan/"><img id='instagram' src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_3-instagram-128.png" alt=""></a>
      <a href="https://www.facebook.com/facebook/"><img id='facebook' src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-128.png" alt=""></a>
    </div>
  </div>

</footer>



{% endblock %}