{% layout 'layout.liquid'%}
{% block content %}

<main>
 <div class=" card bg-white text-dark">
  <img class="card-img" id='homeHeading' src="https://t4.ftcdn.net/jpg/00/92/79/57/240_F_92795795_1gG69m9STYv2I4pjUYlRqnWdJ4Ca21ot.jpg">
  <div class="card-img-overlay">
    <h1 class="card-title" id="home-title">INDI EATS</h1>
    {%- comment -%} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p> {%- endcomment -%}
  </div>
</div> 



</main>

<footer>
    <div class="container">
  <div class="row">
    <div class="col-sm">
      <a href=""><img id='location' src="https://www.dummies.com/wp-content/uploads/324172.image0.jpg" alt=""></a><br>
      
    </div>
    <div class="col-sm">
      <a href="">About</a><br>
      <a href="">Contact Us</a>
      
    </div>
    <div class="col-sm">
      <a href=""><img id='linkedin' src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-256.png" alt=""></a>
      <a href=""><img id='instagram' src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_3-instagram-128.png" alt=""></a>
      <a href=""><img id='facebook' src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-128.png" alt=""></a>
    </div>
  </div>
</div>
</footer>



{% endblock %}