{% layout 'layout.liquid' %}
{% block content %}
Cart History Page
<hr>
{% if cart.active == false %}
    {% for item in cart.items %}
        <h2>{{item.name}}</h2>
        <img src="{{item.img}}">
    {% endfor %}
{% endif %}

{%- comment -%} Cart active -> {{cart.active}} {%- endcomment -%}
{%- comment -%} {{cart.items}} {%- endcomment -%}

{% endblock %}