body{
    /* /* color: black;
    font-family:  'Times New Roman', Times, serif;
    position: relative;
    height: 100%; */
    box-sizing: border-box;
    
}
.btn{
    background-color:#69B0A5;
    width: 200px;
}
.home{
    /* background-image: url('https://as1.ftcdn.net/v2/jpg/03/10/83/10/1000_F_310831053_VWY0criywOIVVCdmyV3UMfQX17ukKlLg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: pink; */
}
.aboutcard{
    padding-left: 30px;
}
#nav{
    /* background-color: #daa520; */
    background-color: #474e5d;
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.cardgroup{
    display: flex;
    text-align: center;
    justify-content: center;
}
#homeHeading{
    height: 70vh;
    

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* display: inline-block; */
    text-align: center;
    padding-left: 10px;
}
.col-sm{
    margin-top: 20px;
}
#linkedin, #facebook, #instagram, #location, #github{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-left: 20px;
}

#location{
    margin-top: 0;
    height: 70px;
    width: 70px;
}
/* img{
    height: 200px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
} */
#logo{
    height: 60px;
    width: 80px;
}
h2{
    text-align: center;
    margin: 30px;
    font-family: 'Rye', cursive;
    text-decoration: underline;
}
.menu{
    /* color: #daa520; */
    background-color: #474e5d;
    font-family: 'Rye', cursive;
    text-align: center;
}
img{
    text-align: center;
}
.btn{
    /* background-color: #daa520; */
    /* background-color: #474e5d; */
    background-color: black;
    text-align: center;
}
#best{
    height: 20px;
    width: 20px;
}
card, p{
    text-align: center;
}
#nav-cart{
    position: absolute;
    text-align: right;
    right: 0;
    /* background-color: #474e5d; */
}
#cartimg{
    height: 25px;
    width: 25px;
}
.contactus{
    text-decoration: none;
    color: darkblue;
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
}
#home-title{
    position: absolute;
    top: 42%;
    left: 2%;
    font-family: 'Bungee Shade', cursive;
    font-size: 8vw;
    /* animation: animate 1.5s linear infinite; */
}
#loginAlert{
    color: red;
}

@keyframes animate{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }

  #wrapper{
    position: fixed;
    overflow: hidden;
  }
  #payment, #cpayment{
    margin-left: 35%;
  }
  #logout, #aboutus{
    text-align: center;
  }

  .pcards{
    height: 20px;
    width: 20px;
  }


