body{
    color: black;
    font-family:  'Times New Roman', Times, serif;
}
.btn{
    background-color:#69B0A5;
}
.home{
    /* background-image: url('https://as1.ftcdn.net/v2/jpg/03/10/83/10/1000_F_310831053_VWY0criywOIVVCdmyV3UMfQX17ukKlLg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: pink; */
}
#nav{
    background-color: #daa520;
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    font-size: 20px;
}
#homeHeading{
    height: 70vh;

}

.col-sm{
    margin-top: 20px;
}
#linkedin, #facebook, #instagram{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
#location{
    margin-top: 0;
    height: 70px;
    width: 70px;
}
/* img{
    height: 200px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
} */
#logo{
    height: 60px;
    width: 80px;
}
h2{
    text-align: center;
    margin: 30px;
    font-family: 'Rye', cursive;
    text-decoration: underline;
}
.menu{
    color: #daa520;
    font-family: 'Rye', cursive;
    text-align: center;
}
img{
    text-align: center;
}
.btn{
    background-color: #daa520;
}
#best{
    height: 20px;
    width: 20px;
}
card{
    text-align: center;
}
/* .card{
    max-width: 16rem;
    min-width: none;
} */