{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Food Menu</h2>
    <div class="row">
        {% for m in menu %}
        <div style="width: 18rem;">
            <img src={{ m.img }}>
            <h5> {{m.name}} - ${{m.price}}</h5>
            <a href="/cart/{{m.id}}" class="btn btn-info">Add to Cart</a>
        </div>
        {% endfor %}

        
    </div>
</div>
<script src="controllers/cartControllers.js"></script>
{% endblock %}